<h2 mat-dialog-title>Register a new account</h2>

<mat-dialog-content class="mat-typography">
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [formControl]="username" placeholder="Ex: ana.marinescu">
        <mat-error *ngIf="username.value == ''">Please insert a username</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" color="warn">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="password" type="password">
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput [formControl]="firstName" placeholder="Ex: Ana">
        <mat-error *ngIf="firstName.value == ''">Please insert a first name</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput [formControl]="lastName" placeholder="Ex: Marinescu">
        <mat-error *ngIf="lastName.value == ''">Please insert a last name</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" placeholder="Ex: ana.marinescu@email.com">
        <mat-error *ngIf="email.value == ''">Please insert an email</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>CNP</mat-label>
        <input matInput [formControl]="CNP">
        <mat-error *ngIf="CNP.value == ''">Please insert a CNP</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input type="tel" matInput [formControl]="phone" placeholder="Ex: 0712345678">
        <mat-error *ngIf="phone.value == ''">Please insert a phone number</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>Blood Type</mat-label>
        <mat-select [(ngModel)]="bloodTypeId">
            <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.id">{{ convertToString(bloodType) }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="test" cdkFocusInitial>Register</button>
</mat-dialog-actions>