#background {
  height: 90vh;
  background-image: url("../../assets/resources/HomeScreen.png");
  background-size: 100%;
  background-repeat: no-repeat;

  overflow: hidden;
}

h1 {
  font-family: Rajdhani;
  font-size: 10vw;
  color: #b20909;
  font-weight: bolder;

  margin: 0;
}

h2 {
  font-family: Rajdhani;
  font-size: 5vw;
  color: #b20909;
  font-weight: bolder;

  margin: 0;
}

.titles {
  font-size: 50px !important;
  background-color: white;

  margin-top: 40px !important;
  padding-left: 60px !important;
}

.center {
  margin-top: 15%;
  text-align: center;
}

.example-card {
  max-width: 500px;
  background-color: rgb(228, 228, 228);
  margin-top: 20px;
  margin-left: 60px;
}

.example-header-image {
  background-image: url("../../assets/resources/blood_bag.jpg");
  background-size: cover;

  width: 100px;
  height: 100px;
}

.admin {
  .demo-table {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
  }

  h1 {
    text-align: center;
    color: #b20909;
    background-color: white;
    padding: 15px 0px;
    font-size: 50px;
  }

  #background2 {
    height: 93vh;
    background-image: url("../../assets/resources/background_1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
  }

  td,
  th {
    text-align: center !important;
    vertical-align: middle !important;
  }

  .mat-sort-header-container {
    justify-content: center !important;
  }

  .trash-button {
    text-align: right;
    padding-right: 0rem;
    border: none;
    background-color: transparent;
    outline: none;
  }
}
